.profile-list {
    margin-top: 50px;
}

.new-profile {
    margin: 30px 0;
}

.item {
    display: flex;

    .name {
        flex: 1;

        &.active {
            font-weight: bold;
        }
    }

    .action {
        flex-basis: 30px;
        align-items: center;
        justify-content: center;
        display: flex;
        cursor: pointer;

        &:hover {
            opacity: 0.8;
        }
    }
}
