<div class="new-asset">
  @if (activeProfile) {
  <button mat-raised-button color="primary" (click)="openAssetsDialog()">Add Asset to {{profileName}}</button>
  }
</div>

<div class="profile-list">
  <h2>Profiles </h2>

  @for (profile of profiles; track $index) {
  <div class="item">
    <button mat-button class="name" [class.active]="profile.id === activeProfile"
      (click)="setActiveProfile.emit(profile.id)">
      {{profile.name}}</button>
    <div class="action">
      <mat-icon aria-hidden="false" aria-label="Example icon" fontIcon="delete" color="warn"
        (click)="deleteProfile.emit(profile.id)"></mat-icon>
    </div>
  </div>
  } @empty {
  <div class="no-results">No profiles added yet.</div>
  }
</div>

<div class="new-profile">
  <button mat-raised-button color="secondary" (click)="openNewProfileDialog()">Add Profile</button>
</div>