<div class="app-container">
  <mat-toolbar color="primary">
    <span>Coin Cap App</span>
  </mat-toolbar>

  @if ({profiles: profiles$ | async, activeProfile: activeProfile$ | async}; as data) {
  <div class="grid-list">
    <div class="coin-list-wrapper">
      <app-coin-list></app-coin-list>
    </div>

    <div class="profiles-wrapper">
      <app-coin-profiles [profiles]="data.profiles || []" [activeProfile]="data.activeProfile"
        (createProfile)="addProfile($event)" (deleteProfile)="deleteProfile($event)"
        (setActiveProfile)="setActiveProfile($event)">
      </app-coin-profiles>
    </div>
  </div>
  }
</div>