.card-list {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

mat-card {
    margin: 15px 15px;
    flex-basis: 300px;

    @media (max-width: 991px) {
        flex-basis: 100%;
    }
}

.search-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding-left: 15px;
    margin-top: 10px;
}

.paginator-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}

img {
    width: 40px;
    height: 40px;
}
