<div class="dialog-wrapper">
    <h2 mat-dialog-title>Create profile </h2>

    <mat-dialog-content>
        <app-coin-assets [pageAssets]="(availableAssetsForCurrentPage$ | async) || []" [itemsPerPage]="itemsPerPage"
            [totalAssets]="totalFilteredAssets" actionName="Add" [actionCallback]="appState.addAssetToActiveProfile"
            emptyMessage="No assets left to add to this profile." (changePage)="pageIndex$.next($event)"
            (setSearchTerm)="searchTerm$.next($event)"></app-coin-assets>

        <mat-dialog-actions align="end">
            <button mat-button (click)="dialogRef.close()">Done</button>
        </mat-dialog-actions>

    </mat-dialog-content>
</div>